.nestedBrand {
    font-size: 1.8em;
}

.logoMobile {
    font-size: 1.8em;
}

.topImage {
    height: 80vh;
    background-image: url(./images/loija-nguyen-Lf2dvyS-d2E-unsplash.jpg);
    background-position: top;
    background-size: cover;
}

.topImage div {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
}

.topImageTextBox {
    color: white;
}

.topImageText {
    /*width: 15vw; */
    line-height: 1.5;
}

.firstInfoBlock {
    margin-top: 15vh;
}


.infoBlock {
    list-style: none;
}

.reserveTable {
    border: 3px solid black;
}

.lastInfoBlock {
    margin-bottom: 10vh;
}

.pictureGallery {
    max-height: 90vh;
    overflow: hidden;
    padding: 0px 0px;
}

.myCarousel {
    overflow: hidden;
}

@media only screen and (min-width: 1000px) {
    .positionIndicators { 
        position: absolute;
        top: 80vh;
    }
  }

  

